<div class="card" style="width: 20rem;">
    <div class="card-header">
     Car Information
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5>Car Type:</h5>{{oneCarList.CarInfo.Type}}-{{oneCarList.CarInfo.Model}}</li>
        <li class="list-group-item"><h5>Gear:</h5>{{oneCarList.CarInfo.Gear}}</li>
        <li class="list-group-item"><h5>Car number:</h5>{{oneCarList.CarNum}}</li>
        
      </ul>
      <button href="#"  class="btn btn-primary" [mat-dialog-close]>Close</button>
  
  </div>