<div class="card" style="width: 20rem;">
  <div class="card-header">
   User Information
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item"><h5>Full name:</h5>{{oneUserList.FullName}}</li>
      <li class="list-group-item"><h5>User name:</h5>{{oneUserList.UserName}}</li>
      <li class="list-group-item"><h5>Email:</h5>{{oneUserList.Email}}</li>
      <li class="list-group-item"><h5>Id:</h5>{{oneUserList.PersonId}}</li>
    </ul>
    <button href="#" routerLink="/rentedcars" class="btn btn-primary" [mat-dialog-close]>Close</button>

</div>