<table class="table" style="width:50rem">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Car Id</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
 

    </tr>
  </thead>
  <tbody *ngFor="let rented of userPurchase">
    <tr *ngIf="rented.UserId == userId" >
      
      <th scope="row" >{{rented.UserId}}</th>
      <td scope="row" (click)="CheckCarId(rented.CarTypeId)"> <button class="btn btn-dark">{{rented.CarTypeId}}</button></td>
      <td>{{rented.StartDate | date:'shortDate'}}</td>
      <td>{{rented.EndDate | date:'shortDate'}}</td>

  
    </tr>
   
  </tbody>
</table>
