<div class="control"></div>
<form #form="ngForm" ngNativeValidate (submit)="onSubmit(form)" autocomplete="off">
    <div class="card text-center" style="width:25rem; height:40rem">
        <div class="card-header" style="width:25rem; height:10rem">
            <h6 class="display-4 text-center">Add / Edit  Cars</h6>
            </div>
          <ul id="textcard" class="nav nav-tabs card-header-tabs">                             
          </ul>
  <div class="form-group row ">

    <div class="col-xs-1">
      <label>Type</label>
      <input name="Type" #Type="ngModel" [(ngModel)]="carsService.formInfoCar.Type" class="form-control">
    </div>
    <div class="col-xs-1">
      <label>Model</label>
      <input name="Model" #Model="ngModel" [(ngModel)]="carsService.formInfoCar.Model" class="form-control">
    </div>

  </div>

  <div class="form-group row">
    
    <div class="col-xs-1">
      <label>Year Made</label>
      <input name="YearMade" #YearMade="ngModel" [(ngModel)]="carsService.formInfoCar.YearMade" class="form-control">
    </div>

    <div class="col-xs-1">
      <label>Gear</label>
      <select name="Gear" #Gear="ngModel" [(ngModel)]="carsService.formInfoCar.Gear" class="form-control">
        <option value="Auto">Auto</option>
        <option value="Manual">Manual</option>
      </select>
    </div>
  </div>

  <div class="form-group">
<button type="submit" class="btn btn-dark">ADD</button>

  </div>
  </div>
</form>

